*{
    margin: 15;
    padding: 15;
}

body {
    background-color: darkgrey;
    font-family: 'Courier New', Courier, monospace;
}

.contenedor{
    background-color: gainsboro;
    width: 1200px;
    margin: 10px;
}

.superior{
    padding: 10px auto;
}
/*Estilos para el menú de opciones*/
.opciones
{
    overflow:hidden;
    background-color: blanchedalmond;
}
.opciones li {
    float: left;
    list-style: none;
}
.opciones li a{
    padding: 10px 50px;
    color: darkslategray;
    text-decoration: none; /*elimina el subrayado*/
    display: block;
    font-weight: bold; /*grosor de fuente, en este caos negrilla*/
}
.opciones li a:hover{ /*Hace que cuando se de click o se pase por encima cambie el estilo*/
    background-color: brown; 
    color: blanchedalmond;
    text-decoration: none; 
    display: block;
}
.medio{
    padding: 15px;
}
.titulo{
    text-align: center;
    color: darkslategray;
}
.servicio{
    width: 380px;
}
.servicio:hover{
    transform: rotateZ(360deg);
    transition: all 2s;
}
.cajas{
    overflow: hidden;/*El contenido es recortado y no se muestran barras*/
}
.izquierda,.centro,.derecha{
    float: left;
    margin: 10px;
}
.subtitulo{
    text-align: center;
    padding: 12px 0;
}
.pie{/*pie de pagina*/
    background-color: blanchedalmond;
    padding: 50px 100px;
}
.derechos{
    color: darkslategray;
    padding: 0 0 0 30px;
    font-size: 25px;
}
